<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                </div>
                <form [formGroup]="loginForm" class="user">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control form-control-user"
                      formControlName="email"
                      [ngClass]="{'is-invalid': (loginForm.controls['email'].errors && loginForm.controls['email'].dirty), 'is-valid': !loginForm.controls['email'].errors}"
                      id="email"
                      aria-describedby="email"
                      placeholder="Ingrese su correo..."
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      formControlName="password"
                      class="form-control form-control-user"
                      id="password"
                      [ngClass]="{'is-invalid': (loginForm.controls['password'].errors && loginForm.controls['password'].dirty), 'is-valid': !loginForm.controls['password'].errors}"
                      placeholder="Ingrese su clave..."
                    />
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input
                        disabled
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheck"
                      />
                      <label class="custom-control-label" for="customCheck"
                        >Remember Me</label
                      >
                    </div>
                  </div>

                  <button (click)="login()" [disabled]="loginForm.invalid" class="btn btn-primary btn-user btn-block">
                    Iniciar
                  </button>
                  
                  <!--<hr />
                   <a routerLink="/" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a routerLink="/" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a> -->
                </form>
                <hr />
                <div class="text-center">
                  <a class="small" [routerLink]="['/auth/forgot']"
                    >¿Has olvidado tu calve?</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" [routerLink]="['/auth/register']"
                    >¡Crea una cuenta!</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
