<button class="btn btn-outline-secondary btn-group-style" (click)="open(content)" type="button" id="confimation">
	<i class="fa-sharp fa-solid fa-plus"></i>
</button>

<ng-template let-modal #content>
	<div class="modal-header">
		<h3 class="modal-title text-primary font-weight-bold">Confirmacion</h3>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<div class="input-group mb-3">
			<input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
			<button class="btn btn-outline-secondary" type="button" id="button-addon2">
				<i class="fa-sharp fa-solid fa-plus"></i>
				<!-- <i class="fa-sharp fa-solid fa-pen"></i> -->
			</button>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col"><i class="fa-solid fa-gears"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let c of confirmations | slice: (page-1) * pageSize : page * pageSize; index as i">
					<th scope="row">{{ i+1 }}</th> 
					<td>{{ c }}</td>
					<td>
							<button type="button" class="btn btn-outline-info">
								<i class="fa-sharp fa-solid fa-pen"></i>
							</button>
							<button type="button" class="btn btn-outline-danger">
								<i class="fa-solid fa-xmark"></i>
							</button>
					</td>
				</tr>
			</tbody>
		</table>

		<!--begin paginators-->
		<ngb-pagination
		class="d-flex justify-content-end"
		[(page)]="page"
		[pageSize]="pageSize"
		[collectionSize]="confirmations.length || 0"></ngb-pagination>
		<!--end paginators -->
		
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cerrar</button>
	</div>
</ng-template>

