<div class="row d-flex justify-content-center w-100">
  <div class="col-sm-8">
    <div class="card bg-primary shadow mb-4">
      <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold card-title">REGISTRA TU CITA</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="form" class="row g-3">
         
          <div class="col-md-6">
            <label for="client" class="form-label">Clientas Existentes</label>
            <div class="input-group mb-3">
              <select
              class="form-select"
              id="client"
              formControlName="client"
              [ngClass]="{'is-invalid': isInvalid('client'), 'is-valid': isValid('client') }"
              aria-describedby="client"
              required
            >
              <option selected disabled value="">Seleccionar...</option>
              <option *ngFor="let c of (client$ | async)" [value]="c.id">{{ c.firstName }} {{  c.lastName }}</option>
            </select>
              <button class="btn btn-outline-dark btn-group-style" routerLink="/redes/client" type="button" id="client">
                <i class="fa-sharp fa-solid fa-plus"></i>
              </button>
            </div>
            
          </div> 
          

  
          <div class="col-md-6">
            <label for="date" class="form-label">Fecha</label>
            <input
              type="date"
              class="form-control"
              placeholder="Fecha"
              id="date"
              formControlName="date"
              [ngClass]="{'is-invalid': isInvalid('date'), 'is-valid': isValid('date') }"
              required
            />
          </div>
  
          <div class="col-md-6">
            <label for="hour" class="form-label">Hora</label
            >
            <input
              type="time"
              class="form-control"
              id="hour"
              placeholder="Hora"
              formControlName="hour"
              [ngClass]="{'is-invalid': isInvalid('hour'), 'is-valid': isValid('hour') }"
              aria-describedby="hour"
              required
            />
          </div>
  
          <!-- <div class="col-md-6">
            <label for="confirmation" class="form-label">Confirmacion</label>
            <div class="input-group mb-3">
              <select
              class="form-select"
              id="confirmation"
              formControlName="confirmation"
              [ngClass]="{'is-invalid': isInvalid('confirmation'), 'is-valid': isValid('confirmation') }"
              aria-describedby="confirmation"
              required
            >
              <option selected disabled value="">Seleccionar...</option>
              <option *ngFor="let c of (confirmations$ | async)" [value]="c.name">{{ c.name }}</option>
            </select>
              <app-confirmation></app-confirmation>
            </div>
            
          </div>  -->

          <div class="col-md-6">
            <label for="confirmation" class="form-label">Servicios</label>
            <div class="input-group mb-3">
              <select
              class="form-select"
              id="service"
              formControlName="service"
              [ngClass]="{'is-invalid': isInvalid('service'), 'is-valid': isValid('service') }"
              aria-describedby="service"
              required
            >
              <option selected disabled value="">Seleccionar...</option>
              <option *ngFor="let s of (services$ | async)" [value]="s.id">{{ s.name }}</option>
            </select>
              <!-- <app-services></app-services> -->
            </div>
          </div> 
  
          <div class="col-md-12">
            <label for="observation" class="form-label">Observacion</label>
            <textarea 
            class="form-control" 
            placeholder="Observacion"
            formControlName="observation"
            [ngClass]="{'is-invalid': isInvalid('observation'), 'is-valid': isValid('observation') }" 
            id="observation" 
            rows="2">
           </textarea>
          </div>
  
        </form>
      </div>
  
      <div class="card-footer">
        <div class="col-12 text-end">
          <button class="btn btn-dark" (click)="onSubmit()" [disabled]="this.form.invalid" type="submit">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="col-md-6">
  <label for="firstName" class="form-label">Nombre</label>
  <input
    type="text"
    class="form-control"
    formControlName="firstName"
    placeholder="Nombre"
    id="firstName"
    [ngClass]="{'is-invalid': isInvalid('firstName'), 'is-valid': isValid('firstName') }"
    required
  />
</div>

<div class="col-md-6">
  <label for="validationServer02" class="form-label">Apellido</label>
  <input
    type="text"
    class="form-control"
    formControlName="lastName"
    placeholder="Apellido"
    [ngClass]="{'is-invalid': isInvalid('lastName'), 'is-valid': isValid('lastName') }"
    id="lastName"
    required
  />
</div>

<div class="col-md-6">
  <label for="email" class="form-label">Correo</label>
  <input
    type="email"
    class="form-control"
    id="email"
    placeholder="Correo"
    formControlName="email"
    [ngClass]="{'is-invalid': isInvalid('email'), 'is-valid': isValid('email') }"
    aria-describedby="email"
    required
  />
</div>

<div class="col-md-6">
  <label for="phone" class="form-label">Telefono</label>
  <input
    type="text"
    class="form-control"
    name="Telefono"
    placeholder="Telefono"
    id="phone"
    aria-describedby="phone"
    formControlName="phone"
    [ngClass]="{'is-invalid': isInvalid('phone'), 'is-valid': isValid('phone') }"
    required
  />
</div> -->





