<div class="row d-flex justify-content-center w-100">
  <div class="col-sm-8">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Lista de citas</h3>
      </div>
      <div class="card-body">
        <!-- begin buscar -->
        <form>
          <div class="mb-3 row">
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Buscar</label>
            <div class="col-xs-3 col-sm-auto">
              <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" #search />
            </div>
          </div>
        </form>
        <!-- end buscar -->
        <!-- begin table  -->
        <div class="table-responsive-xl">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre y Apellido</th>
                <th scope="col">Hora</th>
                <th scope="col">Telefono</th>
                <th scope="col">Fecha N.</th>
                <th scope="col">Correo</th>
                <th scope="col">Observacion</th>
                <th scope="col">Confirmacion</th>
                <th scope="col">Servicio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cite of (cites$ | async) | filter:search.value :['firstName','lastName']  | slice: (page-1) * pageSize : page * pageSize; index as i">
                <th scope="row">{{ ((page -1) * 5) + (i + 1) }}</th>
                <td>
                  {{ cite.firstName }} {{ cite.lastName }}
                </td>
                <td>{{ cite.hour }}</td>
                <td>{{ cite.phone }}</td>
                <td>{{ cite.dateOfBirth | date:'shortDate' }}</td>
                <td>{{ cite.email }}</td>
                <td>{{ cite.observation }}</td>
                <td>{{ cite.confirmation }}</td>
                <td>{{ cite.service }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end table  -->
        </div>
  
      <div class="card-footer">
        <!--begin paginators-->
        <ngb-pagination
        class="d-flex justify-content-end"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="(cites$ | async)?.length || 0"></ngb-pagination>
        <!--end paginators -->
      </div>
    </div>
  </div>
</div>


