<button class="btn btn-outline-secondary btn-group-style" (click)="open(content)" type="button" id="confimation">
	<i class="fa-sharp fa-solid fa-plus"></i>
</button>

<ng-template let-modal #content>
	<div class="modal-header py-3">
		<h3 class="modal-title text-primary font-weight-bold">Confirmacion</h3>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<div class="input-group mb-3">
			<input type="text" 
			[formControl]="name" 
			class="form-control" 
			[ngClass]="{'is-invalid': isInvalid(), 'is-valid': isValid() }"
			aria-label="Recipient's username" 
			aria-describedby="button-addon2">
			
			<button [disabled]="name.invalid" class="btn btn-outline-secondary" (click)="onSubmit()" type="button" id="button-addon2">
				<i class="fa-sharp fa-solid fa-plus"></i>
				<!-- <i class="fa-sharp fa-solid fa-pen"></i> -->
			</button>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col"><i class="fa-solid fa-gears"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let c of (confirmations$ | async) | slice: (page-1) * pageSize : page * pageSize; index as i">
					<th scope="row">{{ i+1 }}</th> 
					<td>{{ c.name }}</td>
					<td>
							<button type="button" class="btn btn-outline-info mx-2">
								<i (click)="edit(c)" class="fa-sharp fa-solid fa-pen"></i>
							</button>
							<button type="button" (click)="delete(c.id!)" class="btn btn-outline-danger">
								<i class="fa-solid fa-xmark"></i>
							</button>
					</td>
				</tr>
			</tbody>
		</table>

		
		
	</div>
	<div class="modal-footer">
		<!--begin paginators-->
		<ngb-pagination
		class="d-flex justify-content-end"
		[(page)]="page"
		[pageSize]="pageSize"
		[collectionSize]="(confirmations$ | async)?.length || 0"></ngb-pagination>
		<!--end paginators -->
	</div>
</ng-template>



