<div class="row d-flex justify-content-center w-100">
  <div class="col-sm-8">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Citas</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="form" class="row g-3">
          <div class="col-md-6">
            <label for="firstName" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              placeholder="Nombre"
              id="firstName"
              [ngClass]="{'is-invalid': isInvalid('firstName'), 'is-valid': isValid('firstName') }"
              required
            />
          </div>
  
          <div class="col-md-6">
            <label for="validationServer02" class="form-label">Apellido</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              placeholder="Apellido"
              [ngClass]="{'is-invalid': isInvalid('lastName'), 'is-valid': isValid('lastName') }"
              id="lastName"
              required
            />
          </div>
          <!-- linea 2 -->
  
          <div class="col-md-6">
            <label for="email" class="form-label">Correo</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Correo"
              formControlName="email"
              [ngClass]="{'is-invalid': isInvalid('email'), 'is-valid': isValid('email') }"
              aria-describedby="email"
              required
            />
          </div>
  
          <div class="col-md-6">
            <label for="phone" class="form-label">Telefono</label>
            <input
              type="text"
              class="form-control"
              name="Telefono"
              placeholder="Telefono"
              id="phone"
              aria-describedby="phone"
              formControlName="phone"
              [ngClass]="{'is-invalid': isInvalid('phone'), 'is-valid': isValid('phone') }"
              required
            />
          </div>
  
          <!-- linea 3 -->
  
          <div class="col-md-6">
            <label for="dateOfBirth" class="form-label">Fecha de Nacimiento</label>
            <input
              type="date"
              class="form-control"
              placeholder="Fecha"
              id="dateOfBirth"
              formControlName="dateOfBirth"
              [ngClass]="{'is-invalid': isInvalid('dateOfBirth'), 'is-valid': isValid('dateOfBirth') }"
              aria-describedby="dateOfBirth"
              required
            />
        
          </div>
  
          <div class="col-md-6">
            <label for="hour" class="form-label"
              >Hora</label
            >
            <input
              type="time"
              class="form-control"
              id="hour"
              placeholder="Hora"
              formControlName="hour"
              [ngClass]="{'is-invalid': isInvalid('hour'), 'is-valid': isValid('hour') }"
              aria-describedby="hour"
              required
            />
          </div>
  
           <!-- linea 4 -->
  
          <div class="col-md-6">
            <label for="confirmation" class="form-label">Confirmacion</label>
            <div class="input-group mb-3">
              <select
              class="form-select"
              id="confirmation"
              formControlName="confirmation"
              [ngClass]="{'is-invalid': isInvalid('confirmation'), 'is-valid': isValid('confirmation') }"
              aria-describedby="confirmation"
              required
            >
              <option selected disabled value="">Seleccionar...</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
              <app-confirmation></app-confirmation>
            </div>
            
          </div> 
  
          <div class="col-md-6">
            <label for="observation" class="form-label">Observacion</label>
            <textarea 
            class="form-control" 
            placeholder="Observacion"
            formControlName="observation"
            [ngClass]="{'is-invalid': isInvalid('observation'), 'is-valid': isValid('observation') }" 
            id="observation" 
            rows="2">
           </textarea>
          </div>
  
        </form>
      </div>
  
      <div class="card-footer">
        <div class="col-12 text-end">
          <button class="btn btn-success mx-2" routerLink="/auth">auth</button>
          <button class="btn btn-primary" (click)="onSubmit()" [disabled]="this.form.invalid" type="submit">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <ng-template #content let-modal class="index-z">
	<div class="modal-header">
		<h4 class="modal-title">Hi there!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<p>Hello, World!</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark">Save</button>
	</div>
</ng-template> -->




