<!-- Topbar -->
<nav class="navbar navbar-expand-lg bg-dark mb-4 static-top shadow">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="assets/img/logo-bg.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
        <Strong class="text-white align-middle ml-4">Perfil de Redes</Strong>
      </a>
      <ul class="navbar-nav mr-auto">

        <li *ngIf="$user; else logout" class="nav-item dropdown">  
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="text-white mr-2">{{ ($user | async)?.email || '' }}</span>
            <img  class="m-2" ngxGravatar [email]="($user | async)?.email || ''" />
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="nav-link text-black" (click)="singOut()">Cerrar Sesion</a>
            </li>
            <!-- <div class="dropdown-divider"></div> -->
          </ul>
        </li>

        <ng-template #logout>
          <li class="nav-item cursor-p">
            <a class="nav-link text-white" (click)="singOut()">Cerrar Sesion</a>
          </li>
        </ng-template>
       
      </ul>
     
    </div>
      
  </nav>
  <!-- End of Topbar -->
  
  <section>
    <app-form-cites></app-form-cites>
    <app-list-cites></app-list-cites>
  </section>
