<!-- Topbar -->
<nav class="navbar navbar-expand-lg mb-4 bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand  d-flex align-items-center" href="#">
      <img src="assets/img/logo-bg.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
         <!-- <Strong class="text-white align-middle ml-4 sm-hide">Perfil de Redes</Strong> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="Cerrar Sesion" (click)="singOut()"><i class="fa-solid fa-right-from-bracket"></i><span class="ms-2">Cerrar Sesion</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  
  <section class="container">
    <app-form-cites></app-form-cites>
    <app-list-cites></app-list-cites>
  </section>
