<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-xl-5 col-xxl-5">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <!-- <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> -->
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">¡Crea una cuenta!</h1>
                </div>
                <form [formGroup]="form"  class="row g-3">

                    <div class="col-sm-6">
                      <input
                        type="text"
                        [ngClass]="{'is-invalid': isInvalid('firstName'), 'is-valid': isValid('firstName')}"
                        formControlName="firstName"
                        class="form-control form-control-user"
                        id="firstName"
                        placeholder="Nombre"
                      />
                    </div>
    
                    <div class="col-sm-6">
                      <input
                        type="text"
                        formControlName="lastName"
                        [ngClass]="{'is-invalid': isInvalid('lastName'), 'is-valid': isValid('lastName')}"
                        class="form-control form-control-user"
                        id="LastName"
                        placeholder="Apellido"
                      />
                    </div>

    
                  <div class="col-sm-12">
                    <input
                      type="email"
                      [ngClass]="{'is-invalid': isInvalid('email'), 'is-valid': isValid('email') }"
                      formControlName="email"
                      class="form-control form-control-user"
                      id="email"
                      placeholder="Correo"
                    />
                  </div>
    
                  <div formGroupName="passwordGroup">
                    <div class="col-sm-12">
                      <input
                        type="password"
                        formControlName="password"
                        [ngClass]="{'is-invalid': isInvalid('passwordGroup.password'), 'is-valid': isValid('passwordGroup.password') }"
                        class="form-control mb-3"
                        id="password"
                        placeholder="Clave"
                      />
                    </div>
    
                    <div class="col-sm-12">
                      <input
                        type="password"
                        class="form-control"
                        formControlName="confirmPassword"
                        [ngClass]="{'is-invalid': isInvalid('passwordGroup.confirmPassword'), 'is-valid': isValid('passwordGroup.confirmPassword') }"
                        id="confirmPassword"
                        placeholder="Repita la Clave"
                      />
                    </div>
                  </div>
                    

                    <!-- <div class="col-md-12">
                      <select
                        formControlName="rol"
                        [ngClass]="{'is-invalid': (form.controls['rol'].errors && form.controls['rol'].dirty), 'is-valid': !form.controls['rol'].errors}"
                        class="form-select"
                        id="rol"
                        aria-describedby="rol"
                        required
                      >
                        <option selected disabled value="">Seleccionar rol...</option>
                        <option>redes</option>
                        <option>coordinador</option>
                        <option>salon</option>
                      </select>
                    </div> -->

                  <button (click)="onSubmit()" [disabled]="form.invalid" class="btn btn-primary btn-user btn-block">
                    Registrar
                  </button>
                  <!-- 
                    <hr />
                    <a routerLink="/auth/sing-in" class="btn btn-google btn-user btn-block">
                                  <i class="fab fa-google fa-fw"></i> Register with Google
                              </a>
                              <a routerLink="/auth/sing-in" class="btn btn-facebook btn-user btn-block">
                                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                              </a> -->
                </form>
                <hr />
                <div class="text-center">
                  <a class="small" routerLink="/auth/forgot"
                    >¿Has olvidado tu contraseña?</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" routerLink="/auth/sing-in"
                    >¿Ya tienes una cuenta? ¡inicia sesión!</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
