<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h3 class="m-0 font-weight-bold">Lista de Clientes</h3>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
  <div class="card-body">
    <!-- begin buscar -->
    <form>
      <div class="mb-3 row">
        <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Buscar</label>
        <div class="col-xs-3 col-sm-auto">
          <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" #search />
        </div>
      </div>
    </form>
    <!-- end buscar -->
    <!-- begin table  -->
    <div class="table-responsive-xl">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Acciones</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of ($clients | async) | filter:search.value :['firstName','lastName']  | slice: (page-1) * pageSize : page * pageSize; index as i">
            <th scope="row">{{ ((page -1) * 5) + (i + 1) }}</th>
            <td>
              {{ client.firstName }} {{ client.lastName }}
            </td>
            <td>{{ client.phone }}</td>
            <td>{{ client.email }}</td>
            <td>
              <button type="button" class="btn btn-dark" (click)="openFormCite(client)">
                <i class="fa-solid fa-file-pen"></i>
              </button> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end table  -->
    </div>

  <div class="card-footer">
    <!--begin paginators-->
    <ngb-pagination
    class="d-flex justify-content-end"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="($clients | async)!.length || 0"></ngb-pagination>
    <!--end paginators -->
  </div>
</div>

<!-- <app-form-cites></app-form-cites> -->
