<section class="row d-flex justify-content-center">
  <div class="col-sm-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Citas</h6>
      </div>
      <div class="card-body">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="validationServer01" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control is-valid"
              id="validationServer01"
              value="Mark"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="col-md-6">
            <label for="validationServer02" class="form-label">Apellido</label>
            <input
              type="text"
              class="form-control is-valid"
              id="validationServer02"
              value="Otto"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <!-- linea 2 -->

          <div class="col-md-6">
            <label for="validationServer03" class="form-label">Correo</label>
            <input
              type="email"
              class="form-control is-invalid"
              id="validationServer03"
              aria-describedby="validationServer03Feedback"
              required
            />
            <div id="validationServer03Feedback" class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>

          <div class="col-md-6">
            <label for="validationServer03" class="form-label">Telefono</label>
            <input
              type="text"
              class="form-control is-invalid"
              id="validationServer03"
              aria-describedby="validationServer03Feedback"
              required
            />
            <div id="validationServer03Feedback" class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>

          <!-- linea 3 -->

          <div class="col-md-6">
            <label for="validationServer02" class="form-label">Fecha de Nacimiento</label>
            <app-datepiker></app-datepiker>
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="col-md-6">
            <label for="validationServerUsername" class="form-label"
              >Hora</label
            >
            <app-timepiker></app-timepiker>
          </div>

           <!-- linea 4 -->

          <div class="col-md-6">
            <label for="validationServer04" class="form-label">Confirmacion</label>
            <select
              class="form-select is-invalid"
              id="validationServer04"
              aria-describedby="validationServer04Feedback"
              required
            >
              <option selected disabled value="">Choose...</option>
              <option>...</option>
            </select>
            <div id="validationServer04Feedback" class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>

          <div class="col-md-6">
            <label for="observacion" class="form-label">Observacion</label>
            <textarea class="form-control" id="observacion" rows="2"></textarea>
            <div id="validationServer05Feedback" class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>

        </form>
      </div>

      <div class="card-footer">
        <div class="col-12 text-end">
          <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de citas</h6>
      </div>
      <div class="card-body">
        <!-- begin buscar -->
        <form>
          <div class="mb-3 row">
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Buscar</label>
            <div class="col-xs-3 col-sm-auto">
              <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
            </div>
          </div>
        </form>
        <!-- end buscar -->
        <!-- begin table  -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre y Apellido</th>
              <th scope="col">Hora</th>
              <th scope="col">Telefono</th>
              <th scope="col">Fecha N.</th>
              <th scope="col">Correo</th>
              <th scope="col">Observacion</th>
              <th scope="col">Confirmacion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cite of cites$ | async; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{ cite.firstName }} {{ cite.lastName }}
              </td>
              <td>{{ cite.hour }}</td>
              <td>{{ cite.phone }}</td>
              <td>{{ cite.dateOfBirth | date:'shortDate' }}</td>
              <td>{{ cite.email }}</td>
              <td>{{ cite.observation }}</td>
              <td>{{ cite.confirmation }}</td>
            </tr>
          </tbody>
        </table>
        <!-- end table  -->
        <!-- <div class="table-responsive">
          <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div id="dataTable_filter" class="dataTables_filter">
                  <label
                    >Buscar:<input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder=""
                      aria-controls="dataTable"
                  /></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table
                  class="table table-bordered dataTable"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                  role="grid"
                  aria-describedby="dataTable_info"
                  style="width: 100%"
                >
                  <thead>
                    <tr role="row">
                      <th
                        class="sorting sorting_asc"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-sort="ascending"
                        aria-label="Name: activate to sort column descending"
                        style="width: 57px"
                      >
                        Name
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Position: activate to sort column ascending"
                        style="width: 61px"
                      >
                        Position
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Office: activate to sort column ascending"
                        style="width: 49px"
                      >
                        Office
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Age: activate to sort column ascending"
                        style="width: 31px"
                      >
                        Age
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Start date: activate to sort column ascending"
                        style="width: 68px"
                      >
                        Start date
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Salary: activate to sort column ascending"
                        style="width: 67px"
                      >
                        Salary
                      </th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th rowspan="1" colspan="1">Name</th>
                      <th rowspan="1" colspan="1">Position</th>
                      <th rowspan="1" colspan="1">Office</th>
                      <th rowspan="1" colspan="1">Age</th>
                      <th rowspan="1" colspan="1">Start date</th>
                      <th rowspan="1" colspan="1">Salary</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr class="odd">
                      <td class="sorting_1">Airi Satou</td>
                      <td>Accountant</td>
                      <td>Tokyo</td>
                      <td>33</td>
                      <td>2008/11/28</td>
                      <td>$162,700</td>
                    </tr>
                    <tr class="even">
                      <td class="sorting_1">Angelica Ramos</td>
                      <td>Chief Executive Officer (CEO)</td>
                      <td>London</td>
                      <td>47</td>
                      <td>2009/10/09</td>
                      <td>$1,200,000</td>
                    </tr>
                    <tr class="odd">
                      <td class="sorting_1">Ashton Cox</td>
                      <td>Junior Technical Author</td>
                      <td>San Francisco</td>
                      <td>66</td>
                      <td>2009/01/12</td>
                      <td>$86,000</td>
                    </tr>
                    <tr class="even">
                      <td class="sorting_1">Bradley Greer</td>
                      <td>Software Engineer</td>
                      <td>London</td>
                      <td>41</td>
                      <td>2012/10/13</td>
                      <td>$132,000</td>
                    </tr>
                    <tr class="odd">
                      <td class="sorting_1">Brenden Wagner</td>
                      <td>Software Engineer</td>
                      <td>San Francisco</td>
                      <td>28</td>
                      <td>2011/06/07</td>
                      <td>$206,850</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-5">
                <div
                  class="dataTables_info"
                  id="dataTable_info"
                  role="status"
                  aria-live="polite"
                >
                  Showing 1 to 10 of 57 entries
                </div>
              </div>
              <div class="col-sm-12 col-md-7">
                <div
                  class="dataTables_paginate paging_simple_numbers"
                  id="dataTable_paginate"
                >
                  <ul class="pagination">
                    <li
                      class="paginate_button page-item previous disabled"
                      id="dataTable_previous"
                    >
                      <a
                        href="#"
                        aria-controls="dataTable"
                        data-dt-idx="0"
                        tabindex="0"
                        class="page-link"
                        >Previous</a
                      >
                    </li>
                    <li class="paginate_button page-item active">
                      <a
                        href="#"
                        aria-controls="dataTable"
                        data-dt-idx="1"
                        tabindex="0"
                        class="page-link"
                        >1</a
                      >
                    </li>
                    <li class="paginate_button page-item">
                      <a
                        href="#"
                        aria-controls="dataTable"
                        data-dt-idx="2"
                        tabindex="0"
                        class="page-link"
                        >2</a
                      >
                    </li>
                    <li class="paginate_button page-item">
                      <a
                        href="#"
                        aria-controls="dataTable"
                        data-dt-idx="3"
                        tabindex="0"
                        class="page-link"
                        >3</a
                      >
                    </li>
                    <li class="paginate_button page-item">
                      <a
                        href="#"
                        aria-controls="dataTable"
                        data-dt-idx="4"
                        tabindex="0"
                        class="page-link"
                        >4</a
                      >
                    </li>
                    <li class="paginate_button page-item">
                      <a
                        href="#"
                        aria-controls="dataTable"
                        data-dt-idx="5"
                        tabindex="0"
                        class="page-link"
                        >5</a
                      >
                    </li>
                    <li class="paginate_button page-item">
                      <a
                        href="#"
                        aria-controls="dataTable"
                        data-dt-idx="6"
                        tabindex="0"
                        class="page-link"
                        >6</a
                      >
                    </li>
                    <li
                      class="paginate_button page-item next"
                      id="dataTable_next"
                    >
                      <a
                        href="#"
                        aria-controls="dataTable"
                        data-dt-idx="7"
                        tabindex="0"
                        class="page-link"
                        >Next</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <div class="card-footer">
        <!--begin paginators-->
        <!-- <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>

        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="refreshCites()"
        >
	      </ngb-pagination> -->
        <!--end paginators -->
      </div>
    </div>
  </div>
</section>
